<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application android:label="云栈面板" android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/no_backup" android:usesCleartextTraffic="false"
        android:icon="@drawable/panel_icon" android:supportsRtl="true">
        <activity android:name=".PanelActivity" android:exported="true" android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
